#audioplayer .info img {
    border-color: #f0f0f0;
    background-color: #e5e5e5;
    box-shadow: 0px 0px 3px black;
}

#audioplayer .info .moreinfo .album::before {
    background-color: black;
}

#audioplayer .timeline .range .input {
    border-color: #000;
    background-color: #fff;
}

#audioplayer button {
    color: #000;
    border-color: #000;
}

#audioplayer button[data-mode="one"]::after {
    background-color: #000;
    color: #fff;
}

#audioplayer button:active,
#audioplayer button[name="random"][data-mode="active"],
#audioplayer .sorting [name="method"]:checked + label {
    background-color: #ccc;
    color: #333;
}

#audioplayer .sorting [name="order"] {
    color: #333;
    background-color: #fff;
    border-color: #333;
    box-shadow: inset 0px 1px 1px rgba(255, 255, 255, .075);
}

#audioplayer .sorting [name="order"]:focus {
    border-color: #333;
    box-shadow:
        inset 0px 1px 1px rgba(255, 255, 255, .075),
        0px 0px 8px #333;
}

#audioplayer .sorting [name="method"] + label:hover {
    border-color: #333;
    box-shadow: inset 0px 1px 1px rgba(255, 255, 255, .075);
}

#audioplayer .sorting [name="method"]:checked + label {
    border-color: #333;
}

#songs li {
    border-bottom-color: #000;
}

#songs li:first-child {
    border-top-color: #000;
}

#songs li[data-type="audio"]:not(.active):hover {
    background-color: #000;
    color: #fff;
}

#songs li.active {
    background-color: #8b8b8b;
    color: white;
}

#songs li .album::before {
    background-color: #000;
}

#songs li.active .album::before {
    background-color: #fff;
}

#songs li:hover:not(.active) .album::before {
    background-color: #fff;
}
