@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Regular.otf");
}

:focus {
    outline: 0px;
}

::selection {
  background-color: none;
  color: white;
}

::-webkit-scrollbar {
  width: .5em;
  height: .5em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: .25em;
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
    font-size: 14px;
}

body.dark {
    color: #fff;
    background-color: #333;
}

body.light {
    color: #333;
    background-color: #fff;
}

body > :not(#titleBar) {
    margin-top: 25px;
}
