#audioplayer {
    display: block;
    width: 98%;
    margin: auto;
    padding-bottom: 20px;
}

#audioplayer .albumArt {
    position: relative;
    width: 100%;
    padding-bottom: calc(50vh + 5px);
    margin-top: 3px;
    margin-bottom: 15px;
}

#audioplayer .albumArt img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    max-width: 100%;
    max-height: calc(100vh - 250px);
    margin: 7px auto;
    padding: 3px;
    border: 1px solid;
    border-radius: 5px;
}

#audioplayer .info {
    display: block;
    width: 100%;
    height: calc(50vh - 68px);
    position: relative;
}

#audioplayer .info > * {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

#audioplayer .info .title {
    display: block;
    font-size: 1.6em;
    text-align: center;
}

#audioplayer .info .title,
#audioplayer .info .moreinfo {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#audioplayer .info .moreinfo {
    display: block;
    width: 95%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

#audioplayer .info .moreinfo .album::before {
    content: " ";
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    position: relative;
    top: -2.5px;
    left: 0px;
}

#audioplayer .timeline {
    display: block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

#audioplayer .timeline .begin,
#audioplayer .timeline .end {
    font-size: .75em;
    text-align: center;
    width: 35px;
}

#audioplayer .timeline .begin {
    float: left;
}

#audioplayer .timeline .end {
    float: right;
}

#audioplayer .timeline .range {
    position: relative;
    top: -4px;
    display: inline-block;
    width: calc(100% - 80px);
    height: 1px;
    margin-left: 5px;
    background-color: grey;
    border: 4px solid transparent;
    border-radius: 4px;
}

#audioplayer .timeline .range .input {
    position: relative;
    top: -5px;
    left: -5px;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 1px solid;
}

#audioplayer button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: transparent;
    border-radius: 100%;
    transition: all .1s;
    border: 2px solid;
}

#audioplayer button[data-mode="one"]::after {
    content: "1";
    position: absolute;
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-top: 10px;
    margin-left: -3px;
    font-size: .7em;
    border-radius: 100%;
    font-weight: bolder;
}

#audioplayer button[name="volume"]:not([data-mode="mute"])::after {
    content: attr(data-volume);
    position: absolute;
    display: block;
    width: 25px;
    margin-top: -2px;
    font-size: .7em;
    text-align: center;
}

#audioplayer button:active,
#audioplayer button[name="random"][data-mode="active"],
#audioplayer .sorting [name="method"]:checked + label {
    background-color: #cccccc;
    color: #333;
}

#audioplayer input[type=range] {
    position: absolute;
    top: 10px;
    left: 253px;
    transform: rotate(270deg);
    display: none;

    -webkit-appearance: none;
    margin: 18px 0;
    width: 110px;
}

#audioplayer input[type=range]:focus {
    outline: none;
}

#audioplayer input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow:
        1px 1px 1px #000000,
        0px 0px 1px #0d0d0d;
    background: #cccccc;
    border-radius: 5px;
    border: 0.2px solid #010101;
}

#audioplayer input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    box-shadow:
        1px 1px 1px #000000,
        0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -6px;
}

#audioplayer .sorting {
    margin-top: 20px;
}

#audioplayer .sorting [name="order"] {
    display: inline-block;
    width: calc(100% - 40px - 40px);
    height: 34px;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid;
}

#audioplayer .sorting [name="method"] {
    display: none;
}

#audioplayer .sorting [name="method"] + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    padding: 6px;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}

#audioplayer .sorting [name="method"]:checked + label {
    border: 1px solid;
    border-radius: 4px;
}

/*
 * songs
 */

#songs {
    list-style: none;
    padding-left: 0px;
    overflow-y: auto;
    max-height: calc(100vh - 50px);
}

#songs > li {
    width: calc(100% - 10px);
    min-height: 47px;
    padding: 5px;
    border-bottom: 1px solid;
}

#songs > li,
#songs > li .album::before {
    transition: background .5s;
}

#songs > li:first-child {
    border-top: 1px solid;
}

#songs > li[data-type="audio"]:hover {
    cursor: pointer;
}

#songs > li img {
    float: left;
    display: block;
    height: 35px;
    width: 0px;
    margin-right: 5px;
    opacity: 0;
    transition: all .5s;
}

#songs > li.active img,
#songs > li:hover img {
    width: 35px;
    opacity: 1;
}

#songs > li p {
    margin: 0px;
    text-transform: uppercase;
}

#songs > li p:nth-child(2) {
    line-height: 16px;
    font-size: .75em;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all .5s;
}

#songs > li.active p:nth-child(2),
#songs > li:hover p:nth-child(2) {
    max-width: calc(100% - 40px);
}

#songs > li p:nth-child(3) {
    height: 24px !important;
}

#songs > li .album::before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    position: relative;
    top: -3px;
    margin: 0px 4px 0px 2px;
}

#songs > li .title {
    display: inline-block;
    text-overflow: ellipsis;
    max-width: calc(100% - 60px);
    overflow: hidden;
    white-space: nowrap;
    transition: all .5s;
}

#songs > li.active .title,
#songs > li:hover .title {
    max-width: calc(100% - 95px);
}

#songs > li .duration {
    float: right;
    width: 55px;
    text-align: right;
}

/*
 * responsive
*/

@media all and (min-width: 741px) {
    body {
        max-width: none;
        margin: auto;
    }

    #audioplayer {
        float: right;
        width: 45%;
        margin-right: 10px;
        margin-top: 0px !important;
    }

    #songs {
        float: left;
        width: 50%;
        max-height: calc(100vh - 50px);;
        margin-top: 10px;
        overflow-y: auto;
        margin-left: 10px;
    }
}
