#titleBar {
    -webkit-app-region: drag;
    width: 100%;
    height: 30px;
    z-index: 3000;
    position: fixed;
    top: 0;
    left: 0;

    background-color: inherit;
}

#titleBar > * {
    -webkit-app-region: no-drag;
}

#titleBar img {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    margin: 5px 0px 0px 5px;
    border: 1px solid;
    border-radius: 3px;
}

[data-action="openDir"] {
    cursor: pointer;
}

#titleBar i {
    display: inline-block;
    width: 35px;
    line-height: 30px;
    text-align: center;
    float: right;
    cursor: pointer;
}

#titleBar i[data-action="close"]:hover {
    background-color: rgba(255, 49, 49, 0.7);
}

body[data-theme="dark"] #titleBar i:not([data-action="close"]):hover {
    background-color: rgba(255, 255, 255, 0.2);
}

body[data-theme="light"] #titleBar i:not([data-action="close"]):hover {
    background-color: rgba(0, 0, 0, 0.2);
}


#contextMenu {
    position: absolute;
    z-index: 1;
    display: none;
    min-width: 200px;
    max-width: 25%;
    height: auto;
    max-height: 25vh;
    border: 2px solid #2f2f2f;
    border-radius: 5px;
    background-color: #9a9a9a;
    margin-top: 0px !important;
}

#contextMenu ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

#contextMenu > ul li {
    display: inline-block;
    width: 100%;
    line-height: 25px;
    cursor: pointer;
    padding: 2px 5px;
}

#contextMenu > ul li.separator {
    display: block;
    margin-bottom: 5px;
    cursor: default;
    border-bottom: 1px solid white;
}

#contextMenu > ul li:not(.separator):hover {
    background-color: #454545;
    color: white;
}

#contextMenu > ul > li:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#contextMenu > ul > li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

body[data-theme="dark"] #contextMenu i.fa-moon-o {
    display: none;
}
body[data-theme="light"] #contextMenu i.fa-sun-o {
    display: none;
}
